<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinwang.xinwallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:name=".XinWalletApp"
        android:allowBackup="true"
        android:icon="@drawable/uwallet48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uwallet48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".presenter.activities.IntroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presenter.activities.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".presenter.activities.login.SmsVerifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.login.SetPinCode1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.login.SetPinCode2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.util.UnlockAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.HomeActivity"
            android:label="@string/Home.title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.login.SetUsernameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".presenter.activities.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.BalanceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.AddFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".presenter.activities.CurrencySettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.CurrencyHomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.HistoricalTxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.TxFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.ContactsCheckBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.TxDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.util.DatePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.SettingActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presenter.activities.ProfileActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presenter.activities.ChangeUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presenter.activities.ExchangeActivity" />
        <activity android:name=".presenter.activities.CurrencySelectActivity"></activity>
    </application>

</manifest>